@import "src/config/styles.scss";

.HeaderContainer {
  height: 4rem;
  max-width: 1080px;
  margin: auto;

  border-bottom: 0.2rem solid #f5f2f0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.HeaderTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: $text-primary;
  text-decoration: none;
}

.HeaderSubtitle {
}
