.GradientContainer {
  margin: auto;
  margin-bottom: 1rem;
  max-width: calc(1080px - 2rem);

  padding: 1rem;

  background-color: rgb(245, 242, 240);

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.GradientColour {
  height: 2rem;
  width: 100%;
}

.GradientColour--blue {
  background-image: linear-gradient(to right, transparent, blue);
}

.GradientColour--red {
  background-image: linear-gradient(to right, transparent, red);
}

.GradientTextContainer {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.GradientTextItem {
  font-weight: 700;
}
