@import "src/config/styles.scss";

.FooterContainer {
  height: 4rem;
  max-width: 1080px;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}

.FooterText {
  font-size: 1rem;
  font-weight: 300;
  color: $text-primary;
}
